@charset "UTF-8";
html, body {
  font-size: 16px;
  position: relative;
  width: 100%;
  background: #fff;
  font-family: 'Source Sans Pro', sans-serif; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }

ul, li {
  list-style-type: none; }

header,
#item-list,
#payment,
footer {
  width: 100%;
  position: relative; }

.button-primary {
  height: 32px;
  padding: .5rem 2rem;
  border-radius: 50px;
  border: none;
  border-bottom: 3px solid #3c5a11;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 900;
  outline: none;
  cursor: pointer;
  background: #83C623; }
  .button-primary:active {
    transform: translateY(2px);
    border-bottom: 1px solid #000; }

main {
  width: 100%; }

#cards {
  width: 100%;
  position: relative; }
  #cards .cards-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 4rem 0; }
    @media (max-width: 767px) {
      #cards .cards-wrapper {
        flex-direction: column;
        align-items: center; } }
    #cards .cards-wrapper a {
      margin: 0 .8rem; }
      #cards .cards-wrapper a:hover .button {
        filter: brightness(1.05); }
      #cards .cards-wrapper a:hover .landing-cards {
        transform: scale(1.02); }
      #cards .cards-wrapper a:active .button {
        transform: translateY(2px);
        border-bottom: 1px solid #000; }
      @media (max-width: 767px) {
        #cards .cards-wrapper a {
          margin: .8rem 0; } }
    #cards .cards-wrapper .landing-cards {
      width: 30vw;
      height: 320px;
      /*             height: auto; */
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem 0;
      /*   margin: 0 .8rem; */
      border-top-left-radius: 2rem;
      border-top-right-radius: 2rem;
      border-bottom-left-radius: .5rem;
      border-bottom-right-radius: .5rem;
      box-shadow: 0 0.12rem 0.5rem #0000003d;
      transition: transform 0.2s ease; }
      @media (max-width: 767px) {
        #cards .cards-wrapper .landing-cards {
          width: 280px; } }
      #cards .cards-wrapper .landing-cards .landing-image img {
        width: 140px;
        border-radius: 50%; }
      #cards .cards-wrapper .landing-cards .landing-textbox {
        display: flex;
        flex-direction: column;
        align-items: center; }
        #cards .cards-wrapper .landing-cards .landing-textbox h3 {
          padding: 1rem .5rem;
          text-align: center;
          /* ändra? text ska inte vara centrerad för det försämrar UX */ }

header {
  width: 100%;
  position: relative; }
