@charset "UTF-8";
html, body {
  font-size: 16px;
  position: relative;
  width: 100%;
  background: #fff;
  font-family: 'Source Sans Pro', sans-serif; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }

img {
  width: 100%;
  height: 100%; }

ul, li {
  list-style-type: none; }

header,
#item-list,
#payment,
footer {
  width: 100%;
  position: relative; }

.button-primary {
  height: 32px;
  padding: .5rem 2rem;
  border-radius: 50px;
  border: none;
  border-bottom: 3px solid #3c5a11;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 900;
  outline: none;
  cursor: pointer;
  background: #83C623; }
  .button-primary:active {
    transform: translateY(2px);
    border-bottom: 1px solid #000; }

main {
  width: 100%; }

#cards {
  width: 100%;
  position: relative; }
  #cards .cards-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 4rem 0; }
    @media (max-width: 767px) {
      #cards .cards-wrapper {
        flex-direction: column;
        align-items: center; } }
    #cards .cards-wrapper a {
      margin: 0 .8rem; }
      #cards .cards-wrapper a:hover .button {
        filter: brightness(1.05); }
      #cards .cards-wrapper a:hover .landing-cards {
        transform: scale(1.02); }
      #cards .cards-wrapper a:active .button {
        transform: translateY(2px);
        border-bottom: 1px solid #000; }
      @media (max-width: 767px) {
        #cards .cards-wrapper a {
          margin: .8rem 0; } }
    #cards .cards-wrapper .landing-cards {
      width: 30vw;
      height: 320px;
      /*             height: auto; */
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem 0;
      /*   margin: 0 .8rem; */
      border-top-left-radius: 2rem;
      border-top-right-radius: 2rem;
      border-bottom-left-radius: .5rem;
      border-bottom-right-radius: .5rem;
      box-shadow: 0 0.12rem 0.5rem #0000003d;
      transition: transform 0.2s ease; }
      @media (max-width: 767px) {
        #cards .cards-wrapper .landing-cards {
          width: 280px; } }
      #cards .cards-wrapper .landing-cards .landing-image img {
        width: 140px;
        border-radius: 50%; }
      #cards .cards-wrapper .landing-cards .landing-textbox {
        display: flex;
        flex-direction: column;
        align-items: center; }
        #cards .cards-wrapper .landing-cards .landing-textbox h3 {
          padding: 1rem .5rem;
          text-align: center;
          /* ändra? text ska inte vara centrerad för det försämrar UX */ }

nav {
  width: 100%;
  z-index: 2;
  position: fixed; }
  nav .nav-wrapper {
    background: #f2f0ec;
    box-shadow: 0 0.12rem 0.5rem #0000003d;
    height: 80px;
    font-size: 1.6rem;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; }
    nav .nav-wrapper .logotype {
      display: flex;
      justify-content: center;
      align-items: center; }
      @media (max-width: 767px) {
        nav .nav-wrapper .logotype img {
          width: 70%; } }
    nav .nav-wrapper #nav-container {
      width: 100%;
      display: flex;
      /*             justify-content: space-around; */
      text-transform: capitalize;
      font-weight: 900;
      font-style: italic; }
      nav .nav-wrapper #nav-container a {
        margin: 0 2rem; }
        nav .nav-wrapper #nav-container a:hover {
          transform: scale(1.02);
          text-decoration: underline;
          /*                     color: $primary-color; */ }
      @media (max-width: 767px) {
        nav .nav-wrapper #nav-container {
          display: none; } }
    nav .nav-wrapper .nav-checkout {
      padding: 0 1rem; }
      @media (max-width: 767px) {
        nav .nav-wrapper .nav-checkout {
          display: none; } }
    nav .nav-wrapper #burger-mobile {
      display: none; }
      @media (max-width: 767px) {
        nav .nav-wrapper #burger-mobile {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: absolute;
          width: 64px;
          height: 48px;
          right: 1rem; } }
      nav .nav-wrapper #burger-mobile span {
        display: block;
        width: 40px;
        height: 3px;
        margin-bottom: 5px;
        position: relative;
        background: #000;
        border-radius: 3px;
        z-index: 1;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }

.sticky-nav {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  z-index: 2; }

header {
  width: 100%;
  position: relative;
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%); }
  header .header-wrapper {
    height: 60vh;
    display: flex;
    align-items: center;
    color: #fff; }
    header .header-wrapper .header-video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 60vh;
      overflow: hidden; }
      header .header-wrapper .header-video video {
        max-width: 100%;
        min-height: 100%; }
        @media (max-width: 767px) {
          header .header-wrapper .header-video video {
            min-width: 110vh; } }
    header .header-wrapper .header-hero {
      z-index: 2;
      padding-right: 2rem;
      padding-left: 2rem;
      clip-path: polygon(0% 0% 10% 0%); }
      header .header-wrapper .header-hero h1 {
        font-size: 40px;
        margin-bottom: 1rem;
        font-family: 'poppins'; }
      header .header-wrapper .header-hero p {
        font-size: 1.2rem;
        display: block;
        padding-bottom: 2rem;
        font-family: 'poppins'; }
    header .header-wrapper .header-overlay {
      height: 60vh;
      width: 100vw;
      position: absolute;
      top: 0;
      left: 0;
      background: #225470;
      z-index: 1;
      opacity: 0.7; }
    header .header-wrapper .header-hero {
      margin: auto;
      text-align: center; }

footer {
  margin: 0%;
  height: 16rem;
  background-color: #F2F0EC; }
  footer .footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 16rem;
    margin: 0 5rem; }
  footer .footer-wrapper-box1 ul {
    padding: 1rem;
    flex-direction: column; }
  footer .footer-wrapper-box1 li {
    padding: .5rem 0; }
