html, body {
    font-size: 16px;
    position: relative;
    width: 100%;
    background: $background-color;
    font-family: 'Source Sans Pro', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, li {
    list-style-type: none;
}

header,
#item-list,
#payment,
footer {
    width: 100%;
    position: relative;
}

// import buttons
@import "buttons.scss";

main {
    width: 100%;
}



#cards {
    width: 100%;
    position: relative;

    .cards-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: $wrapperPadding;

        @include mobile {
            flex-direction: column;
            align-items: center;
        }

        a {
            margin: 0 .8rem;

            &:hover .button {
                filter: brightness(1.05);
            }

            &:hover .landing-cards {
                transform: scale(1.02);
            }

            &:active .button {
                transform: translateY(2px);
                border-bottom: 1px solid #000;
            }
            
            @include mobile {
                margin: .8rem 0;
            }
        }
        
        .landing-cards { 
            width: $landingCardsWidth;
            height: $landingCardsHeight;
/*             height: auto; */
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1rem 0;
          /*   margin: 0 .8rem; */
            border-top-left-radius: 2rem;
            border-top-right-radius: 2rem;
            border-bottom-left-radius: .5rem;
            border-bottom-right-radius: .5rem;
            box-shadow: $box-shadow;
            transition: transform 0.2s ease;

            @include mobile {
                width: $landingCardsWidth_Mobile;
            }
            
            .landing-image {

                img {
                    width: 140px;
                    border-radius: 50%;
                }
            }

            .landing-textbox {
                display: flex;
                flex-direction: column;
                align-items: center;

                h3 {
                    padding: 1rem .5rem;
                    text-align: center; /* ändra? text ska inte vara centrerad för det försämrar UX */ 
                }
            }

        }
        
    }
}
