html, body {
    font-size: 16px;
    position: relative;
    width: 100%;
    background: $background-color;
    font-family: 'Source Sans Pro', sans-serif;
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        cursor: pointer;
    }
}

img {
    width: 100%;
    height: 100%;
    user-select: none;
    -webkit-user-drag: none;
}

ul, li {
    list-style-type: none;
}

header,
#item-list,
#payment,
footer {
    width: 100%;
    position: relative;
}

// import buttons
@import "buttons.scss";

main {
    width: 100%;
}



#cards {
    width: 100%;
    position: relative;

    .cards-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: $wrapperPadding;

        @include mobile {
            flex-direction: column;
            align-items: center;
        }

        a {
            margin: 0 .8rem;

            &:hover .button {
                filter: brightness(1.05);
            }

            &:hover .landing-cards {
                transform: scale(1.02);
            }

            &:active .button {
                transform: translateY(2px);
                border-bottom: 1px solid #000;
            }
            
            @include mobile {
                margin: .8rem 0;
            }
        }
        
        .landing-cards { 
            width: $landingCardsWidth;
            height: $landingCardsHeight;
/*             height: auto; */
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1rem 0;
          /*   margin: 0 .8rem; */
            border-top-left-radius: 2rem;
            border-top-right-radius: 2rem;
            border-bottom-left-radius: .5rem;
            border-bottom-right-radius: .5rem;
            box-shadow: $box-shadow;
            transition: transform 0.2s ease;

            @include mobile {
                width: $landingCardsWidth_Mobile;
            }
            
            .landing-image {

                img {
                    width: 140px;
                    border-radius: 50%;
                }
            }

            .landing-textbox {
                display: flex;
                flex-direction: column;
                align-items: center;

                h3 {
                    font-size: 1rem;
                    padding: 1rem;
                    text-align: center; /* ändra? text ska inte vara centrerad för det försämrar UX */ 
                }
            }

        }
        
    }
}

#about {
    display: flex;
    position: relative;
    width: 100%;
    padding: 5rem;

    @include mobile {
        padding: 5rem 1rem;
    }

        .about-wrapper { 
        width: 100%;

        .about-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

        @include tablet {
            flex-direction: column;
        }

        @include mobile {
            flex-direction: column;
        }

        .about-text {
            width: 80%;

            h3 {
                color: $primary-color;
                font-weight: 900;
                font-size: 2rem;
            }

            .organic {
                color: $primary-color;
            }
        }

        .about-image {

            .about-circle{
                display: flex;
                position: relative;
                width: 200px;
                height: 200px;
                border-radius: 50%;
                background-color: #F2F0EC;
            }

            img {
                display: flex;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                width: 185px;
            }
        }

        .about-image-globe {
            animation: fadeInAboutGlobe 2s ease forwards;
        }

        .about-text-circle {
            animation: fadeInAboutText 2s ease forwards .5s;
            opacity: 0;
        }

        @include mobile {
            display: flex;
            justify-content: center;
        }


            .globe{
                display: inline-block;
                width: 300px;
                height: 300px;
                background: none;
                clip-path: circle(39.7% at 50% 50%);
            }
        }
    }

    @keyframes fadeInAboutGlobe {
        0% {
            opacity: 0;
            transform: translateX(-140%) rotate(0);
            
        }

        100% {
            opacity: 1;
            transform: translateX(0) rotate(360deg);
        }
    }
    @keyframes fadeInAboutText {
        0% {
            opacity: 0;
            transform: translateX(-140%);
            
        }

        60% {
            opacity: 0;
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
}

#printee {
    position: relative;
    width: 100%;
    min-height: 50vh;
    padding: 3rem 0;

    .printee-wrapper {
        position: relative;
        height: 70vh;
        display: flex;
        justify-content: center;

        @include mobile {
            height: auto;
        }

        .printee-container {
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            @include mobile {
                flex-direction: column;
            }

            div {
                padding: 0 1rem;
            }


            .printee-text {
                width: 50%;

                @include mobile {
                    width: 80%;
                    margin: 0 auto;
                }

                h2 {
                    font-size: 3rem;
                    font-style: italic;
                }

                p {
                    padding: .5rem 0;

                    @include mobile {
                        padding: 0.2rem 0;
                    }
                }

            }

            .printee-image {
                position: relative;
                width: 300px;

                @include mobile {
                    width: 200px;
                    padding: 2rem 0;
                }

                img {
                    position: relative;
                    z-index: 3;
                    animation: tshirt-effect 5s ease-in-out infinite;
                }

                .printee-img-bg {
                    z-index: 0;
                    position: absolute;
                    width: 320px;
                    height: 200px;
                    top: 50%;
                    left: 50%;
                    background: $primary-color;
                    transform: translate(-50%, -50%);
                    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
                    animation: bg-slider 10s ease-in-out infinite;

                    @include mobile {
                        width: 200px;
                        height: 100px;
                    }
                }
            }

        }
    }

    @keyframes bg-slider {
        0% {
            left: 40%;
        }

        80% {
            left: 60%;
        }

        100% {
            left: 40%;
        }
    }
    @keyframes tshirt-effect {
        0% {
            transform: translateY(0);
        }

        25% {
            transform: translateY(.5rem);
        }

        50% {
            transform: translateY(0);
        }
        75% {
            transform: translateY(.5rem);
        }


        100% {
            transform: translateY(0);
        }
    }
}


#contact {
    width: 100%;
    position: relative;

    .contact-wrapper {
        position: relative;

        .contact-container {
            position: relative;
            padding: 2rem 3rem;
            height: 80vh;
            display: flex;
            justify-content: center;
            align-items: center;

            @include tablet {
                height: auto;
                padding: 3rem 2rem;
            }

            @include mobile {
                height: auto;
                padding: 2rem .5rem;
            }

            .contact-content {
                position: relative;
                display: flex;
                justify-content: center;
                // flex-direction: column;

                @include tablet {
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                }

                @include mobile {
                    flex-direction: column;
                    align-items: center;
                }

                .contact-text {
                    font-size: 1rem;
                    // padding: 2rem 0;

                    @include tablet {
                        padding: 2rem 0;
                        text-align: center;
                    }

                    @include mobile {
                        padding: 2rem 0;
                        text-align: center;
                    }

                    p {
                        width: 70%;
                        padding: .2rem 0 .5rem 0;

                        @include tablet {
                            margin:0 auto;
                        }

                        @include mobile {
                            width: 80%;
                            margin:0 auto;
                        }
                    }

                    ul {
                        padding: 1rem 2rem;
                    }

                    ul, li {
                        list-style-type: disc;
                        font-style: italic;
                        opacity: 0.9;

                        @include tablet {
                            list-style-type: none;
                        }
                        @include mobile {
                            list-style-type: none;
                        }
                    }



                    .contact-title {
                        position: relative;

                        h1 {
                            font-size: 4rem;
                            text-transform: uppercase;
                            font-style: italic;
                            animation: fadeInFromAbove 1.5s ease;
                        }
                    }

                    .contact-title-text {
                        animation: fadeInFromAbove 1.8s ease;
                    }

                    .contact-jobs-div {
                        animation: fadeInFromAbove 1.5s ease;

                    }



                    h2 {
                        padding-left: .5rem;
                        font-size: 3rem;
                        text-transform: uppercase;
                        font-style: italic;
                    }

                    .contact-button {
                        position: relative;
                        padding-left: 1rem;
                        animation: fadeInFromLeftSide 2s ease;

                        @include tablet {
                            padding-left: 0;
                        }

                        @include mobile {
                            padding-left: 0;
                        }
                    }
                }

                #map {
                    position: relative;
                    width: 310px;
                    height: 260px;
                    box-shadow: $box-shadow;
                    border: dashed 5px $primary-color;
                    animation: fadeInFromRightSide 1s ease;
                }
            }
        }
    }

    @keyframes fadeInFromAbove {

        0% {
            opacity: 0;
            transform: translateY(-4rem);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes fadeInFromLeftSide {

        0% {
            opacity: 0;
            transform: translateX(-100%);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes fadeInFromRightSide {

        0% {
            opacity: 0;
            transform: translateX(100%);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
}

