/* Kan absolut inte göra såhär, detta 
säger att du sätter alla element på hela sidan till
fontfamily poppins
 * {
    font-family: 'poppins';
} */
.itembox-wrapper {
    position: relative;
    width: 100%;
    padding: 1rem 3rem;
    
    .item-wrapper {  
        height:7rem;
        justify-content: space-around;
        align-items: center;
        display:flex;
        background: #f2f0ec;
        box-shadow: 0px 0px 2px 0px;
        margin: 5px;
        .size-inputs {
            text-align: right;
        }
        input {
            width: 30px;
        }
        
        .delete-btn {
            height: 20px;
            width: auto;
        }
    }

    .checkout-items {
        display: flex;
        box-shadow: 0px 2px 4px #00000040;
        background: #f2f0ec;
        padding: 1rem;
        margin: 1rem 0;
        justify-content: space-around;
        align-items: center;


        .delete-btn-img {
            width: 20px;
            height: auto;
        }

        .size-inputs {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;

            li {
                padding: .2rem 0;
            }
        }

        .flex-items {
            display: flex;
            flex-direction: column;

            h4 {
                font-size: 1.1rem;
                font-style: italic;
            }

            span {
                font-style: 1rem;
            }

        }
        a.add {
            color: $primary-color;
        }
        a.decrease {
            color: $error-color;
        }
    }
#pay-btn {
    border-radius: 0;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    font-size: 15px;
    background: #629e76;
    color: white;
    float: right;
}
}


  




