/* Kan absolut inte göra såhär, detta 
säger att du sätter alla element på hela sidan till
fontfamily poppins
 * {
    font-family: 'poppins';
} */
.itembox-wrapper {
    position: relative;
    width: 100%;


    
    .items-wrapper {  
        padding-bottom: 90px;

        .size-inputs {
            text-align: right;
        }
        input {
            width: 30px;
        }
        
        .delete-btn {
            height: 20px;
            width: auto;
        }

        .checkout-items {
            display: flex;
            box-shadow: 0px 2px 4px #00000040;
            background: #f2f0ec;
            padding: 1rem;
            margin: 2rem 4rem;
            justify-content: space-around;
            align-items: center;
    
            &:nth-child(odd) {
                background: #dfdfdf;
            }
    
            .price {
    
                &::after {
                    content: " sek";
                }
            }
    
    
            .delete-btn-img {
                width: 20px;
                height: auto;
            }
    
            .size-inputs {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
    
                li {
                    padding: .2rem 0;
                }
            }
    
            .flex-items {
                display: flex;
                flex-direction: column;
    
                h4 {
                    font-size: 1.1rem;
                    font-style: italic;
                }
    
    
            }
            a.add {
                color: $primary-color;
            }
            a.decrease {
                color: $error-color;
            }
        }
    }



    .fixed-bottom {
        position: relative;

        .fixed-content {
            width: 100%;
            position: fixed;
            bottom: 0;
            display: flex;
            justify-content: space-around;
            background: #fff;
            height: 90px;
            padding-top: 1.5rem;
            box-shadow: 0px -2px 4px #0000002e;
        }

        button {
            @include button;
            border-radius: 25px;
            background: $primary-color;
            height: 40px;
            font-size: 1.2rem;
        }

        h3 {
            font-weight: 900;
            font-style: italic;
            font-size: 1.5rem;
        }

        .total-price {
            color: $primary-color;
            padding: 0 .5rem;
            font-size: 2rem;
            font-style: normal;

            &::after {
                content: " sek";
                color: #000;
                opacity: 0.8;

            }
        }
    }

}


  




