.product-list-wrapper {
    display: grid;
    // flex-direction: column;
    padding: 3rem;
    margin: 2rem 0 0 0;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    

    @include tablet {
        grid-template-columns: 1fr 1fr;
    }

    @include mobile {
        grid-template-columns: 1fr;
        padding: 4rem;
    }

.product-cards {
    margin: 1rem;
    padding: 0%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    background-color: #F2F0EC;
    box-shadow: $box-shadow;
    transition: .2s ease;

    &:hover {
        cursor: pointer;
        transform: scale(1.02);
        box-shadow: 0px 2px 16px #0000003d;
    }

   img {
    
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}
   
    .product-textbox {
    display: flex;
    justify-content: space-evenly;
    padding: .5rem;
    background: #F2F0EC;  

    .product-name {
    font-size: 1.1rem;
    font-style: italic;
}

    .product-price {
    font-size: 1.3rem;
    color: $primary-color;
    font-style: italic;
   }
  } 
 }
}




