
// primär färgen för knappar / utstickande och klickbara saker
$primary-color: #83C623;
$primary-color-dark: #3c5a11;

// color palette färgerna
$gray-color:#f1f1f1;
$graygreen-color:#629e76;
$darkgreen-color:#4a7c64;

// backgrounds och shadows
$primary-color: #83C623;
$background-color: #fff;
$box-shadow: 0 .12rem .5rem #0000003d;


// widths, paddings och margins
$wrapperPadding: 4rem 0; // så man får "luft" mellan sektionerna och att allt inte ligger direkt under varandra.
$landingCardsWidth: 22vw; // eller 280px 
$landingCardsWidth_Mobile: 280px;
$landingCardsHeight: 320px;

// breakpoints 
$mobile-width: 420px;
$tablet-width: 768px;
$desktop-width: 1024px;


// Product colors 

$color-white: #fff;
$color-gray: #919191;
$color-black: #000;
$color-blue: #2552f7;
$color-orange: #ff7b08;